{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="index d-flex align-item-center">
<div>
    <h1 class="text-neon-blue">GamerEveryday</h1>
    <h2 class="italique legende">Une passion qui rassemble.</h2>
</div>
</div>
<ul class="cb-slideshow">
            <li><span>Image 01</span></li>
            <li><span>Image 02</span></li>
            <li><span>Image 03</span></li>
            <li><span>Image 04</span></li>
            <li><span>Image 05</span></li>
            <li><span>Image 06</span></li>
</ul>
{% endblock %}
