{% extends 'base.html.twig' %}
{% block title %}Hello GameController!
{% endblock %}
{% block body %}
	<div class="example-wrapper">
		<h1>Liste de jeux</h1>
		<div></div>
		{% for game in games %}
			<div>
				<p>{{ game.gameName}}</p>
			</div>
		{% endfor %} 
		{% for game in user.gameUsers %}
			
			<p>{{game.idGame.gameName}}</p>
		{% endfor %}

	{% endblock %}
