:root {
  --primary: #0594d0;
  --primary-light: #04bbff;
  --primary-lightdark: #007198;
  --primary-dark: #003c57;
  --second: #bd8ae4;
  --second-light: #fa4eda;
  --second-dark: #7f85ed;
  --dark: #0c0c0c;
  --danger: #bc0000;
  --light: #fff;
  --background-light: #fafafa;
  --background-dark: #051c24;
  --text-color: #051c24;
  --text-color-light: #fafafa;
  --box-shadow: rgba(60 64 67 0.3) 0 1px 2px 0,
    rgba(60 64 67 0.15) 0 2px 6px 2px;
  --border: 1px solid #fafafa;
}
#listAvailability,
#listAvailabilityGlobal {
  background-color: var(--second-dark);
  width: 80%;
  border: 1px solid black;
  border-radius: 15px;
  color: var(--primary-dark);
  display: flex;
  margin: 2%;
  min-height: 100px;
  flex-wrap: wrap;
  box-shadow: inset 0px 2px 5px var(--light), inset 0px -2px 5px var(--dark);
}
#listAvailability .availability,
#listAvailabilityGlobal .availability {
  border: solid 1px black;
  background-color: var(--primary-light);
  width: auto;
  height: auto;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 5px 10px;
  max-height: 35px;
  display: flex;
  vertical-align: middle;
}
#listAvailability .availability button,
#listAvailabilityGlobal .availability button {
  margin-top: -2px;
  background-color: unset;
  border: none;
  color: var(--dark);
  transition: all 0.5s;
}
#listAvailability .availability button:hover,
#listAvailabilityGlobal .availability button:hover {
  color: var(--dark);
}
