{% extends 'base.html.twig' %}


{% block title %}Profil{% endblock %}


{% block body %}
<div class="navigation">
        <ul>
            <li class="list">
                <a href="/">
                    <span class="icon">
                        <i class="fa-solid fa-home"></i>
                    </span>

                    <span class="text">Accueil</span>
                </a>
            </li>
            <li class="list">
                <a href="/game">
                    <span class="icon">
                        <i class="fa-solid fa-gamepad"></i>
                    </span>
                    <span class="text">Jeux</span>
                </a>
            </li>
            <li class="list">
                <a href="/group">
                    <span class="icon">
                        <i class="fa-solid fa-users"></i>
                    </span>
                    <span class="text">Groupe</span>
                </a>
            </li>
            <li class="list">
                <a href="/availability">
                    <span class="icon">
                        <i class="fa-solid fa-clock"></i>
                    </span>
                    <span class="text">Disponibilité</span>
                </a>
            </li>
            <li class="list">
                <a href="#">
                    <span class="icon">
                        <i class="fa-solid fa-gear"></i>
                    </span>
                    <span class="text">Admin</span>
                </a>
            </li>
            {% if app.user == null %}
            <li class="list active">                
                <a href="/user">
                    <span class="icon">
                        <i class="fa-solid fa-user-secret"></i>
                    </span>
                    <span class="text">Connexion</span>
                </a>
            </li>
            {% endif %}
            {% if app.user %}
            <li class="list active">                
                <a href="/user">
                    <span class="icon">
                        <i class="fa-solid fa-user-ninja"></i>
                    </span>
                    <span class="text">Deconnecter</span>
                </a>
            </li>
            {% endif %}
                {# <a href='/login' class='text-light mx-2' ><i class='fa-solid fa-user-secret'></i>Connexion</a> #}
                
                
                {# <a href='/logout' class='text-light mx-2' ><i class='fa-solid fa-user-ninja'></i> {{ app.user.userIdentifier }} Deconnecter</a> #}
                    
            <div class="indicator"></div>
        </ul>
    </div>

    <main>
         <form  method="post" action="">
         <div class="row">
            <table>
                    <tr>
                        <td colspan="2" ><h1 class="text-neon-pink text-center">CONNEXION</h1><td>
                    </tr>
                     <tr><td><label class="text-neon-blue text-start" for="pseudo" >PSEUDO: </lable></td><td class=" text-end" ><input class="mx-5 blue_transparent" type="text" name="pseudo"></td></tr>
                     <tr><td><label class="text-neon-blue text-start" for="password" >PASSWORD: </lable></td><td class=" text-end"><input class=" text-end mx-5 blue_transparent" type="password" name="password"></td></tr>
                     <tr><td>&nbsp;</td></tr> 
                     
                     {# <td><label for="pseudo" >PSEUDO: </lable></td><td><input class="blue_transparent" type="text" name="pseudo"></td>
                     <td><label for="email" >EMAIL: </lable></td><td><input class="blue_transparent" type="email" name="email"></td>
                     <td><label for="password" >PASSWORD: </lable></td><td><input class="blue_transparent" type="password" name="password"></td>
                     <td><label for="confirm_password" >CONFIRM PASSWORD: </lable></td><td><input class="blue_transparent" type="password" name="confirm_password"></td>
                     <td><label for="game" ></lable></td><td>
                     <select class="blue_transparent" type="text" name="game">
                     <option></option>
                     <option></option>
                     <option></option>
                     </select></td>
                      #}
                     <tr><td class="text-center" colspan="2"><a href="#" type="submit" class="text-center btn" style="--clr:var(--primary-light)" name="valider"><span>Valider</span><i></i></a></tr>
            </table>               
         </div>
         </form>
    </main>




    <script>
        const list = document.querySelectorAll('.list');
        function activeLink(){
            list.forEach((item) =>
            item.classList.remove('active'));
            this.classList.add('active');
        }
        list.forEach((item) =>
        item.addEventListener('click', activeLink));
    </script>

{% endblock %}
